In [1]:
import pandas as pd

df = pd.read_csv('data/game_scores_homepage.csv')

In [10]:
df.head()

,날짜,요일,경기시간,장소,팀1명,팀2명,홈/원정,게임결과,팀1 점수,팀2 점수,...,팀2 3이닝점수,팀2 4이닝점수,팀2 5이닝점수,팀2 6이닝점수,팀2 7이닝점수,팀2 8이닝점수,팀2 9이닝점수,팀2 10이닝점수,팀2 11이닝점수,팀2 12이닝점수
0,2024-03-23,(토),14:00,잠실,한화,LG,원정,패,2,8,...,0,1,0,-,-,-,-,-,-,-
1,2024-03-24,(일),14:00,잠실,한화,LG,원정,승,8,4,...,4,0,1,2,-,-,-,-,-,-
2,2024-03-26,(화),18:30,문학,한화,SSG,원정,승,6,0,...,2,0,0,0,-,-,-,-,-,-
3,2024-03-27,(수),18:30,문학,한화,SSG,원정,승,3,1,...,0,0,0,0,-,-,-,-,-,-
4,2024-03-28,(목),18:30,문학,한화,SSG,원정,승,10,6,...,0,1,1,0,-,-,-,-,-,-

### 한화이닝점수, 상대팀이닝점수로 분리

In [2]:
# '팀명1'이 '한화'인 데이터 필터링
filtered_df1 = df[df['팀1명'] == '한화'][['날짜', '게임결과', '팀1 1이닝점수', '팀1 2이닝점수', '팀1 3이닝점수','팀1 4이닝점수',
                                      '팀1 5이닝점수','팀1 6이닝점수','팀1 7이닝점수','팀1 8이닝점수','팀1 9이닝점수',
                                      '팀1 10이닝점수','팀1 11이닝점수','팀1 12이닝점수']]

In [3]:
# '팀명1'이 '한화'이 아닌 데이터 필터링
other_df1 = df[df['팀1명'] != '한화'][['날짜', '게임결과', '팀1 1이닝점수', '팀1 2이닝점수', '팀1 3이닝점수','팀1 4이닝점수',
                                      '팀1 5이닝점수','팀1 6이닝점수','팀1 7이닝점수','팀1 8이닝점수','팀1 9이닝점수',
                                      '팀1 10이닝점수','팀1 11이닝점수','팀1 12이닝점수']]

In [4]:
# 열 이름을 간소화 (1이닝점수, 2이닝점수, ...)
filtered_df1 = filtered_df1.rename(columns={f'팀1 {i}이닝점수': f'{i}이닝점수' for i in range(1, 13)})

In [5]:
# 열 이름을 간소화 (1이닝점수, 2이닝점수, ...)
other_df1 = other_df1.rename(columns={f'팀1 {i}이닝점수': f'{i}이닝점수' for i in range(1, 13)})

In [6]:
filtered_df1

,날짜,게임결과,1이닝점수,2이닝점수,3이닝점수,4이닝점수,5이닝점수,6이닝점수,7이닝점수,8이닝점수,9이닝점수,10이닝점수,11이닝점수,12이닝점수
0,2024-03-23,패,0,0,0,2,1,0,1,3,0,1,0,0
1,2024-03-24,승,0,0,0,0,0,1,1,0,1,0,1,0
2,2024-03-26,승,0,0,0,0,0,0,0,0,4,0,0,0
3,2024-03-27,승,1,0,0,0,0,0,1,0,0,0,0,1
4,2024-03-28,승,0,0,0,0,2,0,0,0,5,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,2024-09-17,승,0,0,0,0,0,0,0,0,2,0,0,0
135,2024-09-18,패,1,2,1,0,0,0,0,0,0,3,0,0
136,2024-09-19,승,2,4,3,0,1,0,0,0,0,0,1,1
139,2024-09-24,패,0,0,0,0,1,0,0,0,1,3,0,0
140,2024-09-25,승,0,0,2,1,1,1,0,0,0,0,0,0

In [7]:
other_df1

,날짜,게임결과,1이닝점수,2이닝점수,3이닝점수,4이닝점수,5이닝점수,6이닝점수,7이닝점수,8이닝점수,9이닝점수,10이닝점수,11이닝점수,12이닝점수
5,2024-03-29,승,0,2,0,0,0,0,0,0,0,0,2,0
6,2024-03-30,승,0,0,0,0,0,4,0,1,2,1,1,0
7,2024-03-31,승,0,0,0,7,0,4,1,0,0,0,0,0
8,2024-04-02,패,0,0,0,0,0,0,0,0,0,0,0,0
9,2024-04-04,승,0,0,0,0,1,0,1,1,2,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2024-09-22,승,1,0,0,0,2,0,0,0,0,1,1,0
138,2024-09-23,패,0,0,0,0,0,0,0,0,1,0,0,0
141,2024-09-27,승,0,0,0,0,0,0,0,2,0,1,0,0
142,2024-09-28,패,0,2,1,0,1,0,1,0,0,0,0,0
143,2024-09-29,패,0,1,0,0,0,0,1,0,0,0,3,0

In [8]:
# '팀명2'이 '한화'인 데이터 필터링
filtered_df2 = df[df['팀2명'] == '한화'][['날짜', '게임결과', '팀2 1이닝점수', '팀2 2이닝점수', '팀2 3이닝점수','팀2 4이닝점수',
                                      '팀2 5이닝점수','팀2 6이닝점수','팀2 7이닝점수','팀2 8이닝점수','팀2 9이닝점수',
                                      '팀2 10이닝점수','팀2 11이닝점수','팀2 12이닝점수']]

In [9]:
# '팀명2'이 '한화'아닌 데이터 필터링
other_df2 = df[df['팀2명'] != '한화'][['날짜', '게임결과', '팀2 1이닝점수', '팀2 2이닝점수', '팀2 3이닝점수','팀2 4이닝점수',
                                      '팀2 5이닝점수','팀2 6이닝점수','팀2 7이닝점수','팀2 8이닝점수','팀2 9이닝점수',
                                      '팀2 10이닝점수','팀2 11이닝점수','팀2 12이닝점수']]

In [11]:
# 열 이름을 간소화 (1이닝점수, 2이닝점수, ...)
filtered_df2 = filtered_df2.rename(columns={f'팀2 {i}이닝점수': f'{i}이닝점수' for i in range(1, 13)})

In [12]:
# 열 이름을 간소화 (1이닝점수, 2이닝점수, ...)
other_df2 = other_df2.rename(columns={f'팀2 {i}이닝점수': f'{i}이닝점수' for i in range(1, 13)})

In [14]:
filtered_df2.head()

,날짜,게임결과,1이닝점수,2이닝점수,3이닝점수,4이닝점수,5이닝점수,6이닝점수,7이닝점수,8이닝점수,9이닝점수,10이닝점수,11이닝점수,12이닝점수
5,2024-03-29,승,0,0,0,0,0,1,-,-,-,-,-,-
6,2024-03-30,승,0,2,0,0,2,-,-,-,-,-,-,-
7,2024-03-31,승,0,2,0,1,2,-,-,-,-,-,-,-
8,2024-04-02,패,0,0,1,0,0,0,-,-,-,-,-,-
9,2024-04-04,승,0,2,0,0,1,-,-,-,-,-,-,-

In [15]:
other_df2.head()

,날짜,게임결과,1이닝점수,2이닝점수,3이닝점수,4이닝점수,5이닝점수,6이닝점수,7이닝점수,8이닝점수,9이닝점수,10이닝점수,11이닝점수,12이닝점수
0,2024-03-23,패,0,1,0,1,0,-,-,-,-,-,-,-
1,2024-03-24,승,0,1,4,0,1,2,-,-,-,-,-,-
2,2024-03-26,승,0,0,2,0,0,0,-,-,-,-,-,-
3,2024-03-27,승,1,0,0,0,0,0,-,-,-,-,-,-
4,2024-03-28,승,1,3,0,1,1,0,-,-,-,-,-,-

In [16]:
# 날짜 순서대로 정렬하고, 두 데이터프레임을 합침
final_df = pd.concat([filtered_df1, filtered_df2])

# 날짜 기준으로 정렬
final_df['날짜'] = pd.to_datetime(final_df['날짜'])
final_df = final_df.sort_values(by='날짜', ignore_index=True)

# 결과 출력
print(final_df)

            날짜 게임결과  1이닝점수  2이닝점수 3이닝점수 4이닝점수 5이닝점수 6이닝점수 7이닝점수 8이닝점수 9이닝점수  \
0   2024-03-23    패      0      0     0     2     1     0     1     3     0
1   2024-03-24    승      0      0     0     0     0     1     1     0     1
2   2024-03-26    승      0      0     0     0     0     0     0     0     4
3   2024-03-27    승      1      0     0     0     0     0     1     0     0
4   2024-03-28    승      0      0     0     0     2     0     0     0     5
..         ...  ...    ...    ...   ...   ...   ...   ...   ...   ...   ...
139 2024-09-24    패      0      0     0     0     1     0     0     0     1
140 2024-09-25    승      0      0     2     1     1     1     0     0     0
141 2024-09-27    승      0      2     0     3     0     -     -     -     -
142 2024-09-28    패      1      0     2     0     0     0     -     -     -
143 2024-09-29    패      0      0     0     1     3     0     -     -     -

    10이닝점수 11이닝점수 12이닝점수
0        1      0      0
1        0      1      0
2        0      0      0
3        0      0      1
4        2      1      0
..     ...    ...    ...
139      3      0      0
140      0      0      0
141      -      -      -
142      -      -      -
143      -      -      -

[144 rows x 14 columns]

In [17]:
# 날짜 순서대로 정렬하고, 두 데이터프레임을 합침
otherteam_df = pd.concat([other_df1, other_df2])

# 날짜 기준으로 정렬
otherteam_df['날짜'] = pd.to_datetime(otherteam_df['날짜'])
otherteam_df = otherteam_df.sort_values(by='날짜', ignore_index=True)

# 결과 출력
print(otherteam_df)

            날짜 게임결과  1이닝점수  2이닝점수 3이닝점수 4이닝점수 5이닝점수 6이닝점수 7이닝점수 8이닝점수 9이닝점수  \
0   2024-03-23    패      0      1     0     1     0     -     -     -     -
1   2024-03-24    승      0      1     4     0     1     2     -     -     -
2   2024-03-26    승      0      0     2     0     0     0     -     -     -
3   2024-03-27    승      1      0     0     0     0     0     -     -     -
4   2024-03-28    승      1      3     0     1     1     0     -     -     -
..         ...  ...    ...    ...   ...   ...   ...   ...   ...   ...   ...
139 2024-09-24    패      2      0     0     2     0     -     -     -     -
140 2024-09-25    승      1      0     0     0     0     0     -     -     -
141 2024-09-27    승      0      0     0     0     0     0     0     2     0
142 2024-09-28    패      0      2     1     0     1     0     1     0     0
143 2024-09-29    패      0      1     0     0     0     0     1     0     0

    10이닝점수 11이닝점수 12이닝점수
0        -      -      -
1        -      -      -
2        -      -      -
3        -      -      -
4        -      -      -
..     ...    ...    ...
139      -      -      -
140      -      -      -
141      1      0      0
142      0      0      0
143      0      3      0

[144 rows x 14 columns]

In [18]:
final_df.replace('-', 0, inplace=True)

In [19]:
otherteam_df.replace('-', 0, inplace=True)

C:\Users\82102\AppData\Local\Temp\ipykernel_33436\1620955466.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  otherteam_df.replace('-', 0, inplace=True)

In [23]:
final_df.head()

,날짜,게임결과,1이닝점수,2이닝점수,3이닝점수,4이닝점수,5이닝점수,6이닝점수,7이닝점수,8이닝점수,9이닝점수,10이닝점수,11이닝점수,12이닝점수
0,2024-03-23,패,0,0,0,2,1,0,1,3,0,1,0,0
1,2024-03-24,승,0,0,0,0,0,1,1,0,1,0,1,0
2,2024-03-26,승,0,0,0,0,0,0,0,0,4,0,0,0
3,2024-03-27,승,1,0,0,0,0,0,1,0,0,0,0,1
4,2024-03-28,승,0,0,0,0,2,0,0,0,5,2,1,0

In [24]:
otherteam_df.head()

,날짜,게임결과,1이닝점수,2이닝점수,3이닝점수,4이닝점수,5이닝점수,6이닝점수,7이닝점수,8이닝점수,9이닝점수,10이닝점수,11이닝점수,12이닝점수
0,2024-03-23,패,0,1,0,1,0,0,0,0,0,0,0,0
1,2024-03-24,승,0,1,4,0,1,2,0,0,0,0,0,0
2,2024-03-26,승,0,0,2,0,0,0,0,0,0,0,0,0
3,2024-03-27,승,1,0,0,0,0,0,0,0,0,0,0,0
4,2024-03-28,승,1,3,0,1,1,0,0,0,0,0,0,0

In [20]:
final_df.to_csv('data/한화이닝별결과.csv')

In [21]:
otherteam_df.to_csv('data/다른팀이닝별결과.csv')